<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ddd;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <div class="content">
        <h2>Detalle de la Factura</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo de Servicio</th>
                    <th>Kilowatts Consumidos</th>
                    <th>Costo por Kilowatt</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= nombre %></td>
                    <td><%= tipo_servicio %></td>
                    <td><%= kilowatts_consumidos %></td>
                    <td><%= costoPorKilowatt %></td>
                </tr>
            </tbody>
        </table>
        <table border="1">
            <thead>
                <tr>
                    <th>Subtotal</th>
                    <th>Impuestos</th>
                    <th>Descuentos</th>
                    <th>Total a Pagar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= subtotal.toFixed(2) %></td>
                    <td><%= impuestos.toFixed(2) %></td>
                    <td><%= descuentos.toFixed(2) %></td>
                    <td><%= totalPagar.toFixed(2) %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>
