<style>
    .form {
        background-color: #15172b;
        border-radius: 20px;
        box-sizing: border-box;
        height: 500px;
        padding: 20px;
        width: 50%;
        margin-left: 23%;
        margin-top: 10px;
    }

    .input-container {
        height: 50px;
        position: relative;
        width: 95%;
    }

    .ic1 {
        margin-top: 40px;
    }

    .ic2 {
        margin-top: 30px;
    }

    .input {
        background-color: #303245;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        font-size: 18px;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
    }
    #botones{
        margin-left: 23%;
    }
</style>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compañia de Luz</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <form action="/factura" method="post">
        <div class="form">
            <div class="input-container ic1">
                <input placeholder="Numero de Recibo" type="text" class="input" name="numero" required>
            </div>
            <div class="input-container ic2">
                <input placeholder="Nombre" type="text" class="input" name="nombre" required>
            </div>
            <div class="input-container ic2">
                <input placeholder="Domicilio" type="text" class="input" name="domicilio" required>
            </div>
            <div class="input-container ic2">
                <label for="tipo_servicio" style="color: white; margin-left: 10px;">Tipo de Servicio</label>
                <select id="tipo_servicio" class="input" name="tipo_servicio" required>
                    <option value="1">Doméstico</option>
                    <option value="2">Comercial</option>
                    <option value="3">Industrial</option>
                </select>
            </div>
            <div class="input-container ic2">
                <input placeholder="Kilowatts Consumidos" type="text" class="input" name="kilowatts_consumidos" required>
            </div><br>
            <div id="botones">
                <button type="submit">Enviar Información</button>
                <button type="reset">Limpiar</button>
            </div>
        </div>
    </form>
    <%- include('partials/footer.ejs') %>
</body>

</html>